<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>従業員管理システム 削除ページ</title>
    <link rel="stylesheet" th:href="@{/css/user/update.css}">
</head>
<body>
    <h1>従業員管理システム</h1>
    <h2>id:[[${employee.id}]]の従業員情報　削除ページ</h2>

    <form method="post" th:action="@{/update/{id}/(id=${employee.id})}" th:object="${employee}">
        <input type="hidden" id="id" name="id" th:value="${employee.id}">
        <input type="hidden" id="deleteFlag" name="deleteFlag" value="1">
        <p>
        <label for="code">社員番号</label><br>
        [[${employee.authentication.code}]]
        <input type="hidden" id="code" name="code" th:value="${employee.authentication.code}">
        </p>
        <p>
        <label for="name">氏名</label><br>
        <input type="text" th:field="${employee.name}">
        </p>
        <br>
        <br>
        <input type="submit" value="削除する"><br>

    </form>
</body>
</html>