<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>日報管理システム</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="my-insert-class" th:insert="myfragment :: header"></div>

<section id="main">

<h2>id:[[${employee.id}]]の従業員情報　詳細ページ</h2>

        <table th:object="${employee}" class="employee">
            <tr>
                <td>社員番号</td>
                <td th:text="${employee.authentication.code}"></td>
            </tr>
            <tr>
                <td>氏名</td>
                <td th:text="${employee.name}"></td>
            </tr>
            <tr>
                <td>権限</td>
                <td th:text="${employee.authentication.role}"></td>
            </tr>
            <tr>
                <td>登録日時</td>
                <td th:text="${employee.createdAt}"></td>
            <tr>
                <td>更新日時</td>
                <td th:text="${employee.updatedAt}"></td>
            </tr>
        </table>

    <a th:href="@{'/employee/update/'+${employee.id}+'/'}">この従業員情報を編集する</a><br />
    <a th:href="@{/employee/}">一覧に戻る</a>

</section>

</body>
</html>