<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>日報管理システム 従業員新規登録ページ</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="my-insert-class" th:insert="myfragment :: header"></div>

<section id="main">

<h2>従業員　新規登録ページ</h2>

    <form method="post" th:action="@{/employee/register/}" th:object="${employee}">

        <p>
        <label for="code">社員番号</label><br>
        <input type="text" th:field="*{authentication.code}" th:errorclass="err">
        <span th:errors="*{authentication.code}" class="err"></span>
        <span th:text="${codedoubleerrormsg}" class="err"></span>
        </p>
        <p>
        <label for="name">氏名</label><br>
        <input type="text" th:field="*{name}" th:errorclass="err">
        <span th:errors="*{name}" class="err"></span>
        </p>
        <p>
        <label for="password">パスワード</label><br>
        <input type="password"  th:field="*{authentication.password}" th:errorclass="err">
        <span th:errors="*{authentication.password}" class="err"></span>
        </p>
        <p>
        <label for="role">権限</label><br>
        <select th:field="*{authentication.role}" th:errorclass="err">
                    <option value="" th:text="選択してください">
                    <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        </select>
        <span th:errors="*{authentication.role}" class="err"></span>
        </p>
        <input type="hidden" id="deleteFlag" name="deleteFlag" value="0">
        <br>
        <br>
        <input type="submit" value="投稿"><br>
    </form>

        <p><a th:href="@{/employee/}">一覧に戻る</a></p>

</section>
</body>
</html>