<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>従業員管理システム 新規登録</title>
    <link rel="stylesheet" th:href="@{/css/employee/list.css}">
</head>
<body>
    <h1>従業員管理システム</h1>
    <h2>新規登録</h2>

    <form method="post" th:action="@{/employee/register/}" th:object="${employee}">

        <p>
        <label for="code">社員番号</label><br>
        <input type="text" th:field="*{authentication.code}">
        </p>
        <p>
        <label for="name">氏名</label><br>
        <input type="text" th:field="*{name}">
        </p>
        <p>
        <label for="password">パスワード</label><br>
        <input type="password" th:field="*{authentication.password}">
        </p>
        <p>
        <label for="role">権限</label><br>
        <select th:field="*{authentication.role}">
                    <option value="" th:text="選択してください">
                    <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        </select>
        </p>
        <input type="hidden" id="deleteFlag" name="deleteFlag" value="0">
        <br>
        <br>
        <input type="submit" value="投稿"><br>
    </form>

        <p><a th:href="@{/employee/}">一覧に戻る</a></p>

</body>
</html>