<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>日報管理システムへようこそ</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="my-insert-class" th:insert="myfragment :: header"></div>

<section id="main">

<h2>日報管理システムへようこそ</h2>

<!-- ★sec:で取得 -->
<span th:remove="tag" sec:authentication="name"></span>
<span sec:authentication="principal.authorities"></span>

<!-- ★#authentication.nameで取得 -->
<div th:text="'こんにちは ' + ${#authentication.name} + ' さん'"></div>

<!-- ★indexControllerを作成しauthentication.getName()で取得しModelで受け取る -->
<p th:text="${msg}"></p>

【自分の日報　一覧】

</section>

</body>
</html>